body{
	margin: 0;
	padding: 0;
	background-color: #222222;  
	font-family: Ubuntu,Arial,"libra sans",sans-serif;
	color: #ffffff;
}
.sidebar{
	margin:0;
	padding: 0;
	height: 100%;
	width: 250px;
	position: absolute;
	background-color: #DD4814;  
	display: block;
}
.tags{
	background-color:#444444;
	border-radius: 0px 0px 5px 5px;
	text-align: center; 
	display: block;
	vertical-align: middle;
	padding: 2px;
}


.content{
	position: absolute;
	min-width: 400px;
	margin:  0 0 0 250px;
	padding-top: 50px;
	padding-left: 50px;
	background-color: #222222;  
	display: block;
}
.file_list{
	display: inline-block;
	width: 200px;
	padding: 5px;

}
.file_list a{
	text-align: center;
	vertical-align: middle;
	background-color: #DD4814;
	font-style: none;
	color: #FFFFFF;
	font-style: center;
	display: block;
	margin: auto;
	line-height: 30px;
	border-radius: 5px 5px 0px 0px;
	text-decoration: none;
}
.side_title{
	position: relative;
	color: #FFFFFF; 
	padding-top: 10px;
	width: 250px;
	font-size: 32px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
}
.side_head{
	position: relative;
	color: #FFFFFF; 
	padding-top: 10px;
	padding-left: 5px;
	width: 245px;
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
}
.side_container{
	position: relative;
	color: #FFFFFF; 
	margin-top: 10px;
	padding-left: 0px;
	background-color: #222222;
	width: 250px;
	font-size: 16px;
	vertical-align: middle;
	text-align: left;
	display: inline-block;
}
.side_container a{
	position: relative;
	vertical-align: middle;
	text-decoration: none;
	font-style: none;
	color: #FFFFFF;
	margin: 5px 0; 
	padding: 5px 5px;
	width: 240px;
	display: block;
}

.rule{
	width: 95%;
	height: 1px;
	background-color: #FFFFFF; 
	opacity: 0.5;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.side-input{
	width: 100%;
	vertical-align: middle;
	text-align: center;
}
.side-input input{
	margin: 5px 0px;
	padding: 5px 5px;
	width: 90%;
}